@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body, html {
    height: 100%;
    background-color: #0a0a0a;
    background-size:60px 60px;
    transform:rotate(0deg);
    font-family: "Jetbrains Mono", monospace;
    color:whitesmoke;
}       
button {
    background-color: #dadada;
    border:1px solid #6868ff;
    border-radius:5%;
    cursor:pointer;
    color:black;
    transition-duration: 0.1s;
}
#goal {
    text-align:center;
    font-size:130%;
    position: relative;
    top: 0.5em;
    border:3px solid whitesmoke;
    padding: 8px 0px 8px 0px;
}
.leftPad {
    border-collapse:collapse;
    border-spacing: 50px 0px;
    margin-left:0px;
    table-layout:fixed;
    max-width:855px;
}
table,tr,td {
    text-align:center;
}
td {
    border: 2px solid whitesmoke;
    padding: 10px 10px 10px 10px;
    width:285px;
}
ul,li {
    margin:0;
    padding:0;
    list-style-type:none;
}
#upgradeEffects {
    position:absolute;
    left:880px;
    top:70px;
    line-height:120%;
}
#generatorCost,#factoryCost,#demolisherCost,#generatorReinforcementMult,#factoryReinforcementMult,#demolisherReinforcementMult,#generatorReinforcementCost,#factoryReinforcementCost,#demolisherReinforcementCost {
    color:black;
}
button:hover {
	background-color: #5aa4ed;
}